<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='aemtraining.components.mainpage'}"/>
</sly>
<sly data-sly-use.mainpage="com.aem.demo.core.models.MainPageModel"></sly>

<div data-sly-list.model="${mainpage.models}" class="content-wrapper">
    <div  class="news-card">
        <a href="#" class="news-card__card-link"></a>
        <img src="${model.image}" alt="" class="news-card__image">
        <div class="news-card__text-wrapper">
            <h2 class="news-card__title">${model.topic}</h2>
            <div class="news-card__post-date">${model.pubDate}</div>
            <div class="news-card__details-wrapper">
                <p class="news-card__excerpt">${model.article}</p>
                <a href="${model.path @ extension = 'html'}" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
    </div>
</div>
