<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='aemtraining.components.newscard'}"/>
</sly>
<sly data-sly-use.newscard="com.aem.demo.core.models.NewsCardModel"></sly>

<div class="container">
    <div class="text_h1"><h1>${newscard.topic}</h1></div>
    <div class="wrapper">
        <div class="box">
            <img src="${newscard.image}" alt="">
            <div class="like_dislike" style="width:400px">
                <form action="${request.requestURI}" class="form_dislike" style="float: left; width: 130px">
                    <button class="dislike" type="submit" name="dislike" id="dislikeId" value="false">
                        ${newscard.disLikes}
                    </button>
                </form>

                <form action="${request.requestURI}" class="form_like" style="float: right; width: 225px">
                    <button class="like" type="submit" value="true">
                        ${newscard.likes}
                    </button>
                </form>
            </div>
        </div>
        <div class="box text">
            <h5>${newscard.pubDate}</h5>
            <h3>${newscard.article}</h3>
            <a href="${newscard.link}" target="_blank">Read more on NASA.com</a>
        </div>
    </div>
</div>
